body {
  background-image: url('http://cdn.backgroundhost.com/backgrounds/subtlepatterns/tileable_wood_texture.png');
  font-family: "Courier New", Courier, monospace;
}

.container {
  display: none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.gameBoard {
  height: 500px;
  margin: 30px auto;
  position: relative;
  width: 500px;
}

.quarter {
  border: 16px #333 solid;
  height: 50%;
  position: absolute;
  width: 50%;
}

.quarter0 {
  background-color: #8ce2ec;
  border-bottom-width: 8px;
  border-radius: 100% 0 0 0;
  border-right-width: 8px;
  left: 0;
  top: 0;
}

.quarter1 {
  background-color: #ff9999;
  border-bottom-width: 8px;
  border-left-width: 8px;
  border-radius: 0 100% 0 0;
  right: 0;
  top: 0;
}

.quarter2 {
  background-color: #ffda90;
  border-left-width: 8px;
  border-radius: 0 0 100% 0;
  border-top-width: 8px;
  bottom: 0;
  right: 0;
}

.quarter3 {
  background-color: #83e5c7;
  border-radius: 0 0 0 100%;
  border-right-width: 8px;
  border-top-width: 8px;
  bottom: 0;
  left: 0;
}

.controls {
  background-color: #000000;
  border-radius: 50%;
  border: 16px solid #333;
  height: 50%;
  left: 25%;
  position: absolute;
  top: 25%;
  width: 50%;
}

.logo {
  color: #ffffff;
  font-size: 2.5em;
  margin-top: 25px;
  text-align: center;
}

.size {
  font-size: .3em;
  position: relative;
}

#onOff {
  background-color: #d2ad80;
}

#start {
  background-color: #d2ad80;
}

#strict {
  background-color: #d2ad80;
}

#count {
  background-color: black;
  border-radius: 7%;
  border: 4px solid #333;
  color: white;
  font-size: 1.5em;
  height: 40px;
  margin: 20px auto;
  text-align: center;
  width: 150px;
}

.btn {
  color: #000000;
}

footer>a:link, footer>a:visited, footer>a:hover, footer>a:active {
  color: #000000;
  text-decoration: none;
}
